.divMenu {
    display: flex;
    flex-flow: column;
    padding: 10px;
    text-align: center;
}
.divMenu div {
    border-bottom: 1px solid #282c34;
}
.divMenu div:hover {
    border-bottom: 4px solid #282c34;
}
