.app-wrapper {
    display: grid;
    grid-template-areas:
            "h h h"
            "m c c"
            "f f f";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 8fr 2fr;
    grid-gap: 0px;
}

.header {
    grid-area: h;
    color: #fff503;
    background-color: #282c34;
    line-height: 39px;
}

.header img {
    width: 40px;
}

.menu {
    grid-area: m;
    background-color: #fff503;
}

.content {
    grid-area: c;
    background-color: antiquewhite;
}

.footer {
    grid-area: f;
    color: #b8d0e0;
    background-color: #444f65;
}

/*.App {*/
/*text-align: center;*/
/*}*/

/*.App-logo {*/
/*height: 40vmin;*/
/*pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*}*/
/*}*/

/*.App-header {*/
/*background-color: #282c34;*/
/*min-height: 100vh;*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: center;*/
/*justify-content: center;*/
/*font-size: calc(10px + 2vmin);*/
/*color: white;*/
/*}*/

/*.App-link {*/
/*color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*from {*/
/*transform: rotate(0deg);*/
/*}*/
/*to {*/
/*transform: rotate(360deg);*/
/*}*/
/*}*/
